* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #252a46;
    padding: 20px;
    text-align: center;
    color: white;
    height: 50px;

}


.hero {
    background-color: #4CAF50;
    color: white;
    height: 100vh;
    padding: 50px;
    text-align: center;
}

.features {
    background-color: #6e1414;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.quote {
    background-color: aqua;
    font-style: italic;
    margin: 20px;
    text-align: center;
}

.contact {
    background-color: #4c1616;
    padding: 20px;
    margin: 20px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}