* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #252a46;
    padding: 20px;
    text-align: center;
    color: white;
    height: 50px;

}
.logo {
    font-size: 12px;
    font-weight: normal;
    align-items: center;
    margin-left: 10px;
    border: 1px solid white;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: -5px;
    border-radius: 50%;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 10px;
    margin-top: -5px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.hero {
    background-color: #d7f5d8;
    color: rgb(0, 0, 0);
    height: 100vh;
    padding: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 150px;
    justify-content: center;
    padding-top: 0px;
}

.hero img {
    width: 300px;
    height: auto;
    border: 1px solid #000;
    border-radius: 10px;
}

.hero-text {
    max-width: 600px;
}

.features {
    background-color: #9fc2c3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    text-align: center;
    gap: 50px;
    align-items: center;
}

.info-grid {
    background-color: #e3e3e3;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.quote {
    background-color: rgb(64, 121, 121);
    font-style: italic;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quote p {
    font-size: 14px;
    margin: 0px;
    margin-left: 250px;

}

.contact {
    background-color: #c0c2c3;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}