*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* Makes 1rem = 10px, for easier responsive sizing */
  line-height: 1.15;
  /* Improves text readability */
  -webkit-text-size-adjust: 100%;
  /* Prevents text inflation on mobile */
}

body {
  font-size: 1.6rem;
  /* Sets base font size to 16px */
  margin: 0;
  background-color: #1f1f1f;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

.header {
  background-color: #444444;
  color: white;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  font-size: 2.4rem;
  font-weight: bold;
  margin: auto;
  display: flex;
}

.header_icon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
}

.header_icon:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.header_buttons {
  display: flex;
  gap: 1rem;
}

button {
  background-color: #444444;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.6rem;
}